.lapis-input {
    display: block;
    width: 100%;
    height: auto;

    > .wrap {
        display: block;
        width: 100%;
        height: 42px;
        > input {
            display: block;
            width: 100%;
            height: calc(100% - 2px);
            border: none;
            outline: none;
            color: inherit;
            font-size: inherit;
            background-color: transparent;
        }
        > .underline {
            display: block;
            width: 100%;
            height: 2px;
            background-color: aqua;
        }
    }
}
