.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //
    width: 100%;
    height: auto;
    //
    padding: 5px;
    margin-top: 20px;
    > .avatar {
        display: block;
        height: 80px;
        width: auto;
        aspect-ratio: 1;

        border-radius: 50%;

        background-position: center;
        background-size: cover;
    }
    > .wrap {
        display: block;
        width: calc(100% - 100px);
        > .userName {
            display: block;
            width: 100%;
            height: 30px;
            line-height: 30px;
            > span {
                color: gray;
                font-size: 1rem;
                margin-left: 10px;
            }
        }
        > .content {
            display: block;
            width: 100%;
            height: auto;
            color: rgba(255, 255, 255, 0.6);
        }
        > .result {
            margin-top: 10px;
            color: aqua;
        }
    }
}
