header {
    display: block;
    width: 100%;
    height: 80px;
    background-color: rgba(175, 180, 185, 0.2);
    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        > input {
            display: block;
            width: 200px;
            height: 46px;
            font-size: inherit;
            color: aqua;
            background-color: transparent;
            padding: 3px;
            outline: none;
            border: none;
        }
    }
}
