* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    //
    width: 100vw;
    min-height: 100vh;
    //
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    //
    background-color: rgb(24, 24, 24);
}
